.nav {
  @apply sticky top-0 p-4 w-full backdrop-filter bg-opacity-20 backdrop-blur-xl bg-black z-20;
}

.nav__container {
  @apply w-[90%] sm:w-[70%] mx-auto flex justify-between py-4;
}

.logo {
  @apply relative z-20 flex items-center justify-between w-[105%] cursor-pointer;
}

.nav__menu {
  @apply w-1/2;

  .nav_toggler {
    position: relative;
    z-index: 20;
    cursor: pointer;
    margin-left: auto;
    margin-top: 12px;
    width: 30px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @media screen and (max-width: 800px) {
      display: flex;
    }

    span {
      transition: transform 0.4s;
      height: 2px;
      width: 100%;
      background: #fff;
      display: block;
      transform-origin: center;
      position: relative;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(-45deg);
        background: #000;
      }
      span:nth-child(2) {
        transform: rotate(45deg);
        top: -8px;
        left: 1px;
        background: #000;
      }
    }
  }

  .nav__menu_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    transform-origin: top;
    background: #fff;
    z-index: 1;

    &.active {
      transition: all 0.4s;
    }
  }

  .nav__menu_list {
    @apply text-white w-full ml-auto list-none flex justify-between items-center;

    @media screen and (max-width: 1200px) {
      @apply w-3/4;
    }

    @media screen and (max-width: 800px) {
      display: none;

      &.active {
        @media screen and (max-width: 800px) {
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          position: fixed;
          left: 0;
          height: 20vh;
          width: 100%;
          z-index: 18;
          justify-content: justify-center;

          li a {
            font-size: 1rem;
            color: #000;
            margin: 1rem 0;

            &:after {
              background: #000;
            }
          }
        }
      }
    }

    li a {
      @apply font-poppins uppercase text-sm transition-colors relative font-semibold;

      &:after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        right: 0;
        height: 1px;
        width: 100%;
        background: #fff;
        transition: transform 0.6s;
        transform: scaleX(0);
        transform-origin: left;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
