@tailwind base;
@tailwind components;

@tailwind utilities;
body{
    background-color: black;
    background-image: url(./public/bgevent.svg);
    background-blend-mode: hard-light;
    backdrop-filter: blur(22px);
}